.button {
  font-weight: 500;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;

  &--primary {
    color: #ffffff;
    background: #0d0f11;
  }

  &--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }

  &--small {
    font-size: 0.75rem;
    padding: 10px 16px;
  }

  &--medium {
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5rem;
    padding: 11px 20px;
  }

  &--large {
    font-size: 16px;
    padding: 12px 24px;
  }
}
