.dashboardLayout {
  .dashboard-navigation {
    position: fixed;
    width: 16rem;
    height: 100vh;
    background: #f8fafc;
    padding: 1.25rem 0 2rem;
    transition: all 500ms;

    &__brand {
      margin: 0 2.25rem 3rem;
    }

    &__list {
      display: flex;
      flex-direction: column;
      grid-row-gap: 0.75rem;
      padding: 0;
      margin: 0;
      list-style: none;
    }

    &__list-item {
      margin: 0 1rem;
    }

    &__link {
      display: flex;
      align-items: center;
      grid-column-gap: 1.125rem;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #0b2253;
      padding: 0.75rem 1rem;
      transition: all 500ms;
      > svg {
        color: #b9c8d4;
        transition: all 500ms;
      }

      &:hover {
        color: $primary;
        background: #eff6ff;
        border-radius: 0.25rem;
        > svg {
          color: $primary;
        }
      }
    }
  }

  &__body {
    padding: 0 1.25rem;

    @media screen and(min-width: 992px) {
      padding-left: 16rem;
      width: calc(100% - 16rem);
      margin: 0 auto;
    }
  }
}
