// employee styles //

.employee-section {
  margin-top: -1rem;
  // padding-top: 0.25rem;

  &__details {
    margin-right: 32px;
    margin-left: 32px;
  }

  &__profile {
    display: flex;
    justify-content: flex-end;
    grid-column-gap: 0.5rem;
    cursor: pointer;
    margin-top: 22px;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-bottom: 2.25rem;
    margin-top: 2rem;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2rem;
    color: #0e347e;
    margin: 0;
  }

  &__employee-button {
    grid-column-gap: 1rem;
    display: flex;
  }

  &__submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 0.5rem;
    height: 44px;
    font-size: 1rem;
    padding: 0 1.25rem;
  }
  &__employeeInfo {
    border: 1px solid #d7dce0;
    cursor: pointer;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    padding: 10px 20px 10px 15px;
  }

  &__employee-inbox {
    text-align: center;
    margin-top: 92px;
    margin-bottom: 200px;
    p {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: #0b2253;
    }
  }

  &__dashboardImage {
    margin-right: 0;
    margin-left: auto;
    display: block;
  }
  &__cardFlex {
    display: flex;
    grid-column-gap: 1.3rem;
    cursor: pointer;
    // justify-content: space-evenly;
    // align-items: center;
    margin-top: 5px;
  }
  &__cardDetails {
    width: 264px;
    height: 96px;
    background: #f7f9fb;
    border-radius: 12px;
    padding-left: 15px;
  }

  &__number {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #0b2253;
    margin-top: 20px;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6d7a98;
    margin-top: -6px;
  }

  &__employee-button1 {
    height: 2.75rem;
    box-sizing: border-box;
    border-radius: 0.5rem;
    font-size: 1rem;
    color: $primary;
    border: 1px solid $primary;
    padding: 0 1.5rem;
  }

  &__employee-success {
    display: flex;
  }
  &__employeeSearch {
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
  }
  &__employeeHeader {
    font-family: Karla;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
    margin-top: -5px;
  }
  &__searchInput {
    display: flex;
    // flex-direction: row;
    grid-column-gap: 1.5rem;
  }

  &__search {
    outline: none;
    background: #ffffff;
    border: 1px solid #d7dce0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 384px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-left: 16px;
  }

  &__searchImage {
    position: relative;
    right: 30px;
    top: 12px;
  }
  &__searchIcon {
    display: flex;
  }

  &__filter-image {
    position: relative;
    left: -400px;
  }

  &__filter {
    font-size: 14px;
    width: 91px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d7dce0;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 16px;
  }

  // tab nav styles //

  &__tab-nav {
    padding: 1rem 1rem 0.7rem 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.7s;
    display: flex;
    grid-column-gap: 2rem;
    margin-left: -12px;
    margin-top: -20px;
    border-bottom: 1px solid #dde5ee;
    @media (max-width: 768px) {
      width: 90%;
    }

    &__tab1 {
      border-bottom: 2px solid green;
    }
  }
  &__tabs {
    font-style: normal;
    font-weight: 600;
    font-size: 0.95rem;
    color: #e8f0f2;
  }

  &__active {
    color: #1d4ed8;
  }

  &__employee-tab {
    margin-top: 30px;
  }

  //employee table styles//

  &__employeeInfo {
    cursor: pointer;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    padding: 10px 20px 10px 15px;
  }

  &__employeeTitle {
    background-color: #f7f9fb;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6d7a98;
    padding-left: 330px;
  }

  &__employeeData {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #0b2253;
    height: 40px;
  }

  &__employee_Input {
    cursor: pointer;
    margin-left: 16px;
    outline: none;
    font-size: 30px;
    border: 1px solid #ddd;
  }

  &__employeeImage {
    position: relative;
    right: 8px;
  }

  &__nextPages {
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #6d7a98;
    margin-top: 24px;
    padding-left: 20px;
  }

  &__prev_next_pages {
    display: flex;
    flex-direction: row;
    grid-column-gap: 0.9rem;
    text-align: center;

    :hover {
      width: 21px;
      height: 24px;
      background: #edf1fd;
      border-radius: 2px;
      color: blue;
    }
  }

  &__employee_pay-time {
    color: #d7dce0;
  }
  &__pagination {
    color: #0d0f11;
  }

  @media screen and (max-width: 600px) {
    &__details {
      margin-right: 19px;
      margin-left: 19px;
    }
    &__head {
      display: flex;
      flex-direction: column;
      margin-bottom: 2.25rem;
    }

    &__title {
      font-style: normal;
      font-weight: 600;
      font-size: 1rem;
      line-height: 2rem;
      color: #0e347e;
      margin-right: 0px;
      // margin: 0;
    }
    &__employee-button {
      display: flex;
      grid-column-gap: 2rem;
    }
    &__employee-button1 {
      height: 2rem;
      box-sizing: border-box;
      border-radius: 0.5rem;
      font-size: 0.5rem;
      color: $primary;
      border: 1px solid $primary;
      padding: 0 1.5rem;
      margin-top: 30px;
    }

    &__submit-btn {
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // grid-column-gap: 0.7rem;
      height: 2rem;
      font-size: 1rem;
      padding: 0 1.25rem;
      margin-top: 30px;
    }
  }
}


//employee-list-styles

.employee-list-section{
&__employee-button-section{
  display:flex;
}

&__submit-btn{
  display:flex;
  grid-column-gap:1rem;
}

&__employee-add-row{
  display:flex;
  grid-column-gap:0.5rem;
  margin-right:1.5rem;
}
&__employee-add-row-text{
  font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #1D4ED8;
margin-top:0.7rem;
}
&__employee-add-row-image{
  margin-top:-5px !important;
}

&__employee-delete-image{
  margin-top:10px !important;
  margin-right:1.5rem !important;
}
&__employee-list-table{
margin-top:18px;
}

&__employee-list-image{
  margin-left:40px;
  cursor:pointer;
}

&__employee-input{
// background: #FFFFFF;
border:none;
border-radius: 4px;
  width:80%;
  outline: 0;
  cursor:pointer;
  height:30px;
}

input:focus
{
    border-bottom: 2px solid #e5e5e5;
    // box-shadow: 0 0 3px #1670BE;
    // outline-offset: 0px;
    // outline: none;
}
}