.employee-details{
margin-right: 2rem;
margin-left: 2rem;


&__employee-details-settings{
  display: flex;
  justify-content: space-between;
  padding-top: 2.6rem;
}
&__employee-details-header{
  display: flex;
  grid-column-gap: 1.5rem;
}
&__employee-header{
  font-style: normal;
font-weight: 600;
font-size: 1.75rem;
line-height: 2rem;
color: #0E347E;
}
&__employee-button{
  width: 8.5rem;
height: 2.5rem;
background: #EDF1FD;
border-radius: 8px;
font-style: normal;
font-weight: 600;
text-align: center;
letter-spacing: -0.01em;
color: #1D4ED8;
border:none;
margin-top:25px;
}

&__employee-settings-details{
height: 586px;
background: #FFFFFF;
border: 1px solid #EAEDF4;
box-sizing: border-box;
border-radius: 8px;
}
&__employee-settings-flex{
  margin-left:24px;
  display:flex;
  grid-column-gap:12rem;
    border-bottom: 1px solid #f7f9fb;
}
}