.form {
  &__grid {
    display: flex;
    flex-flow: row wrap;

    &__col {
      display: block;

      &--4 {
        flex: 0 0 25%;
        max-width: 25%;
      }

      &--6 {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }

  &__submit-button {
    margin-top: 32px;

    &--full-width {
      width: 100%;
    }
  }

  &__file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #bac2c9;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 26px;
    cursor: pointer;
    position: relative;

    &.active {
      border: 2px solid #bac2c9;
    }

    input {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }

  &__file-upload-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.002em;
    color: #3a434b;
    margin-top: 4px;

    &--highlight {
      font-weight: 600;
      color: #1e40af;
    }
  }

  &__file-upload-subtext {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #9da9b3;
    margin-top: 4px;
  }

  &__sample-btn {
    border: none;
    background: transparent;
    padding: 0;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
    color: #1d4ed8;
    margin-top: 1.5rem;
    cursor: pointer;

    &:hover {
      color: #1d4ed8;
      text-decoration: none;
    }
  }
}

.single-employee-upload-form,
.create-organization-form,
.organisation-detail,
.change-password-form {
  &__section:not(:last-child) {
    margin-bottom: $space-2;
  }
}
.reset-button {
  height: 56px;
}

.employee-group-form {
  row-gap: 1.25rem;
  display: flex;
  flex-direction: column;

  button {
    height: 56px;
    margin-top: 7.5rem;
  }
}

.addon-form {
  > *:not(:first-child) {
    margin-top: 1.25rem;
  }

  .button {
    margin-top: 2rem;
    width: 100%;
    height: 56px;
  }
}

.request-access-form {
  width: 100%;
  max-width: 400px;
  margin: 2rem auto 0;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  .button {
    min-height: 56px;
  }
}

.single-employee-upload-form {
  &__linklike-button {
    border: none;
    font-weight: 500;
    padding: 0.5rem 1rem 0 0;
    background-color: transparent;
    cursor: pointer;
    color: #1d4ed8;
    transition: 0.2s ease-in;

    &:hover {
      color: #1e40af;
    }
  }

  &__payout-details {
    > * {
      margin-bottom: 1.25rem;
    }
  }
}
