.input-container {
  display: flex;
  flex-direction: column;
  grid-row-gap: 8px;

  &__input {
    width: 100%;
    position: relative;

    .input {
      width: 100%;
    }

    &__loader {
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
    }
  }
}

.input-label {
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.117188px;
  color: #0b2253;
}

.input {
  height: 3.5rem;
  background: #f7f9fb;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid transparent;
  padding: 0 1rem;
  font-family: Karla;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #0b2253;

  &::placeholder {
    color: #6d7a98;
  }

  &:focus {
    outline: 0;
    border: 1px solid $primary;
    border-radius: 4px;
  }

  &--error {
    border: 1px solid #ca1b1b;
  }
}

.input-password-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  background: #f7f9fb;
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  position: relative;

  .input {
    height: 100%;
    width: 100%;
    border: 1px solid transparent;

    &:focus {
      border: 1px solid $primary;
      padding: 0 1rem;
    }
  }

  .input--error {
    border: 1px solid $error;
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    height: 20px;
    width: 20px;
  }
}

.input-error {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.117188px;
  color: $error;
}

.multi-select-input {
  label {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.117188px;
    color: #81909d;
    margin-bottom: 8px;
  }

  .search-wrapper {
    padding: 16px;
    background: #f5f6fa;
    border: 1px solid #1d4ed8;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .optionListContainer {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 4px;
    margin-top: 4px;

    .optionContainer {
      background: #ffffff;
      border: none;
      .option {
        background: #1d4fd800;
        border: none;
        mix-blend-mode: normal;
        border-radius: 2px;
        padding: 12px 8px;
        font-family: Karla;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.117188px;
        color: #0b2253;

        &.highlightOption {
          color: #1d4fd8;
          background: rgba(29, 79, 216, 0.05);
        }
      }
    }
  }
}

.range-input {
  padding-bottom: 20px;

  label {
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.117188px;
    color: #81909d;
    display: block;
    margin-bottom: 24px;
  }
}

.select-input {
  position: relative;
  display: block;
  min-width: 3rem;
  max-width: 100%;

  label {
    font-family: $font-family-Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.117188px;
    color: #0b2253;
    margin-bottom: 8px;
    display: block;
  }

  &__error-message {
    font-family: $font-family-Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.117188px;
    color: #ca1b1b;
    margin-top: 8px;
    display: block;
  }

  &__selector {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: #f5f6fa;
    border-radius: 4px;
    padding: 16px;
    border: 1px solid transparent;
  }

  &__placeholder {
    flex: 1;
    justify-self: flex-start;
    padding-right: 3.2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: $font-family-Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #0b2253;
  }

  &__svg {
    display: inline-flex;
    align-items: center;
    right: 1rem;
    transition: transform 0.3s ease-in-out;
    transform: rotate(180deg);
  }

  &__search {
    position: absolute;
    top: 0;
    right: 11px;
    bottom: 0;
    left: 11px;
    opacity: 0;
    z-index: -1;
  }

  &__options {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    max-height: 12rem;
    overflow-y: auto;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-top: 30px;
    padding: 4px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    transform-origin: 0 0;
    transform: scale(0.8) translate(0, 4px);
    transition: opacity 0.2s ease, visibility 0.2s ease,
      transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  }

  &__option {
    display: block;
    padding: 12px 8px;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    background: #1d4fd800;
    mix-blend-mode: normal;
    border-radius: 2px;
    color: #0b2253;

    &:hover,
    &--selected {
      background: #1d4fd80d;
      color: #1d4ed8;
    }
  }

  &--open {
    label {
      color: #81909d;
    }

    .select-input__svg {
      transform: rotate(0deg);
    }

    .select-input__selector {
      border: 1px solid #1d4ed8;
    }

    .select-input__options {
      opacity: 1;
      visibility: visible;
      transform: scale(1) translate(0, 16px);
      transition: opacity 0.3s ease, visibility 0.3s ease,
        transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        background: #ffffff;
      }

      &::-webkit-scrollbar-thumb {
        background: #c1c1c1;
        opacity: 0.5;
        border-radius: 16px;
      }
    }
  }

  &--has-error {
    .select-input__options {
      margin-top: 16px;
    }

    .select-input__selector {
      border: 1px solid $red;
    }
  }

  &--drop-top {
    .select-input__options {
      top: auto;
      bottom: 100%;
      margin-bottom: 22px;
      transform-origin: 100% 100%;
    }

    .select-input__svg {
      transform: rotate(0);
    }
  }
}
.select-input--open.select-input--drop-top {
  .select-input__svg {
    transform: rotate(180deg);
  }
}

.search-input {
  display: inline-block;
  width: 100%;
  max-width: 24rem;
  position: relative;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.8rem;
  }

  &__input {
    width: 100%;
    border: 1px solid #d7dce0;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    outline: none;
    max-height: 40px;
    transition: border 0.2s ease-in-out;

    &:focus {
      border: 1px solid $primary;
    }
  }
}

.date-picker {
  display: inline-block;
  width: 100%;

  &__container {
    position: relative;
    background: #f7f9fb;
    display: block;
    width: 100%;
  }

  &__label {
    font-family: $font-family-Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.117188px;
    color: #6d7a98;
    margin-bottom: 8px;
    display: block;
    transition: color 0.3s;
  }

  &__input {
    width: 100%;
    padding: 16px;
    outline: none;
    box-shadow: none;
    border-color: transparent;
    border-radius: 4px;
    background: transparent;

    &:hover {
      border-color: transparent;
    }

    &.ant-picker-focused {
      border-color: $primary;
    }
  }

  &__calendar {
    display: block;
    position: absolute;
    right: 16px;
    top: 16px;
  }

  &__error {
    font-family: $font-family-Karla;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.117188px;
    color: #ca1b1b;
    margin-top: 8px;
    display: block;
  }

  .anticon-calendar {
    display: none;
  }

  &--active {
    .date-picker__label {
      color: $black;
    }
  }

  &--error {
    .date-picker__input {
      border-color: $red;
    }
  }
}
