$cubic-out: cubic-bezier(0.32, 2.04, 0.85, 0.54);
$cubic-in: cubic-bezier(0.72, 1.2, 0.71, 0.72);

.kebabmenu {
  &__trigger {
    cursor: pointer;
  }

  &__dropdown {
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    margin: 0;
    padding: 4px;
    min-width: 147px;
    max-height: 300px;
    overflow-y: auto;

    li {
      display: block;
      white-space: pre;
      box-sizing: border-box;
      text-align: left;
      border-radius: 3px;
      cursor: pointer;

      a {
        color: inherit;
        display: block;
        padding: 15px 8px;
      }

      &:hover {
        background: #e7e5e5;
        color: $blue;
        transition: background 0.2s ease-in-out;
      }
    }
  }
}

.organization-menu {
  position: relative;

  &__trigger {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__drop-svg {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &__dropdown {
    background: $white;
    border: 1px solid #eaedf4;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(205, 217, 229, 0.52);
    border-radius: 8px;
    padding: 20px;
    position: absolute;
    z-index: 999999999;
    right: 0;
    top: 2rem;
    transition: all 0.25s ease-out;
    transform: scale(0);
    transform-origin: 100% 0;
    width: 290px;

    &__section {
      border-bottom: 1px solid #eaedf4;
      margin-bottom: 20px;
      padding-bottom: 13px;

      &__title,
      &__subtitle {
        display: block;
        font-style: normal;
        font-family: $font-family-Karla;
      }

      &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        color: $black-800;
      }

      &__subtitle {
        color: $gray;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
      }
    }

    &__item {
      &:not(:last-child) {
        margin-bottom: 24px;
      }

      display: flex;
      align-items: center;
      justify-content: flex-start;

      &__switch {
        margin-left: auto;

        &.ant-switch-checked {
          background-color: $green-600;
        }
      }

      &__initial,
      &__logo {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 12px;
      }

      &__initial {
        background: $blue-800;
        color: $white;
        text-transform: uppercase;
        font-family: $font-family-Karla;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__logo {
        img {
          max-width: 100%;
        }
      }

      &__name {
        max-width: 200px;
        overflow-x: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: $font-family-Karla;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: $black;
      }
    }

    &--active {
      transform: scale(1);
      transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
    }
  }
}

.profile-menu {
  position: fixed;
  left: 0;
  width: 16rem;
  bottom: 0;
  border-top: 1px solid #dde5ee;
  background: #f8fafc;
  padding-bottom: 1rem;

  &__trigger {
    padding: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &__identity {
      &__name {
        color: $black-900;
        font-family: $font-family-Karla;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
      }

      &__role {
        font-family: $font-family-Karla;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        color: $black-700;
      }
    }

    &__initial,
    &__image {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 12px;
    }

    &__initial {
      background: $blue-800;
      color: $white;
      text-transform: uppercase;
      font-family: $font-family-Karla;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__image {
      img {
        max-width: 100%;
      }
    }

    &__drop-svg {
      background: none;
      border: none;
      cursor: pointer;
      margin-left: auto;
      transform: rotate(0deg);
      transition: transform 0.25s ease-out;

      &--active {
        transform: rotate(180deg);
      }
    }
  }

  &__dropdown {
    background: $white;
    border: 1px solid #eaedf4;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(205, 217, 229, 0.52);
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    z-index: 999999999;
    left: 3px;
    bottom: 4rem;
    transition: all 0.25s ease-out;
    transform: scale(0);
    transform-origin: 100% 100%;
    width: 250px;

    &__item {
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;

      &:not(:last-child) {
        margin-bottom: 5px;
      }

      &:hover {
        background-color: darken($white, 5);
      }

      a {
        display: block;
      }
    }

    &--active {
      transform: scale(1);
      transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
    }
  }
}
