.JoinWaitListModal {
  @media screen and (min-width: 768px) and (max-width: 1500px) {
    width: 50vw !important;
  }
  .ant-modal-content {
    border-radius: 0.5rem;
  }

  .ant-modal-header,
  .ant-modal-footer {
    display: none;
  }

  // .ant-modal-mask {
  // }

  &__content {
    // align-items: center;
    // justify-content: space-between;
    margin: 1.5rem 0;

    @media screen and (min-width: 768px) {
      display: flex;
      margin: 1.5rem;
    }
  }

  &__text {
    @media screen and (min-width: 768px) {
      margin-left: 2.5rem;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 2rem;
    letter-spacing: -0.01em;
    color: #0e347e;

    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  &__subtext {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.01em;
    color: #0b2253;
  }

  &__svg {
    width: 45%;
    margin: auto;
    transform: rotate(-8deg);
  }

  &__share {
    display: flex;
    align-items: center;

    span {
      font-weight: bold;
      font-size: 18px;
      line-height: 0.8rem;
      letter-spacing: -0.01em;
      color: #0e347e;
      margin-left: 0.5rem;
    }
  }

  &__btn-area {
    display: flex;
    flex-direction: column;
    grid-row-gap: 1rem;
    margin-top: 2.5rem;

    button,
    .linkedin__share-button,
    .twitter__share-button {
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column-gap: 4px;
        color: #0e347e;
        background: none;
        border: 1px solid #0e347e;
        border-radius: 0.5rem;
        padding: 0.75rem 0;
        cursor: pointer;
        transition: all 500ms;

        @media screen and (min-width: 768px) {
          width: 65%;
        }
      }

      // &:first-child {
      //   color: #00acee;
      //   border: 1px solid #00acee;
      //   &:hover {
      //     color: #ffffff;
      //     background: #00acee;
      //   }
      // }

      // &:last-child {
      // }
    }

    .linkedin__share-button {
      div {
        color: #0077b5;
        border: 1px solid #0077b5;
        &:hover {
          color: #ffffff;
          background: #0077b5;
        }
      }
    }

    .twitter__share-button {
      div {
        color: #00acee;
        border: 1px solid #00acee;
        &:hover {
          color: #ffffff;
          background: #00acee;
        }
      }
    }
  }
}

.modal-layout {
  top: 0;
  margin: 0 0 0 auto;
  height: 100vh;
  width: 100% !important;
  max-width: 464px;
  padding: 0;
  position: relative;

  .ant-modal-body {
    padding: 0;
    height: 100vh;
  }

  .ant-modal-close {
    display: none;
  }

  &__title-section {
    background: #f7f9fb;
    width: 100%;
    padding: 32px 32px 24px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 99;
  }

  &__title-text {
    font-family: Karla;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #0b2253;
  }

  &__close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      left: -56px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: #ffffff;

      &:hover {
        background: #f7f9fb;
        transition: background 0.2s ease-in-out;
      }
    }
  }

  &__body-section {
    padding: 104px 32px;
    overflow-y: auto;
    height: 100%;
  }
}

.employee-filter-modal {
  position: relative;
  height: 100%;

  &__section {
    margin-bottom: 40px;
  }

  &__btn {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
      margin-right: 10px;
    }
  }
}
