.organization-settings {
  margin-bottom: 32px;
  &__flex {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    gap: 20px;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 10px;
    }
  }
}

.country-dropdown-input {
  position: relative;
  z-index: 1;
}

.select-input__options {
  overflow-y: auto;
  max-height: 200px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  z-index: 1;
}

.dropdown-option {
  display: flex;
  gap: 0.5rem;
  z-index: 1;
}

.country-flag {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  border-radius: 50%;
}

.select-input {
  white-space: nowrap;
  background: white;
  border-bottom: 1px solid #f5f6fa;
}
.country-dropdown-input {
  .select-input__selector {
    background: #ffffff !important;
    border-bottom: 1px solid #f5f6fa;
    border: none;
    gap: 0.5rem;
  }
}