.table-component {
  &__tool-bar {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.25rem;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__table-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5rem;
    letter-spacing: 0.25px;
    color: #0d0f11;
  }

  &__search {
    display: none;

    @media screen and (min-width: 600px) {
      display: initial;
    }
  }

  &__mobile-search {
    display: flex;
    align-items: center;
    grid-column-gap: 4px;
    background: #ffffff;
    border: 1px solid #d7dce0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 1rem;
    width: 100%;

    &--input {
      font-size: 1rem;
      line-height: 1rem;
      letter-spacing: -0.05px;
      border: unset;
      width: 100%;

      &::placeholder {
        color: #677684;
      }

      &:focus {
        outline: 0;
      }
    }

    @media screen and (min-width: 600px) {
      display: none;
    }
  }

  &__search-btn {
    display: block;
    background: unset;
    border: unset;
    padding: 12px 1rem;
    @media screen and (min-width: 600px) {
      display: none;
    }
  }

  &__filter-btn,
  &__search-btn {
    background: #fff;
    // border: unset;
    line-height: 0;
    cursor: pointer;

    // @media screen and (min-width: 600px) {
    border: 1px solid #d7dce0;
    box-sizing: border-box;
    border-radius: 4px;
    // }
  }

  &__filter-btn {
    display: flex;
    align-items: center;
    grid-column-gap: 0.5rem;

    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #3a434b;

    padding: 12px 1rem;
    > span {
      display: none;
    }

    @media screen and (min-width: 600px) {
      > span {
        display: block;
      }
    }
  }

  &__option-btn {
    padding: 0;
    margin: 0;
    line-height: 0;
    border: none;

    > button {
      background: #fff;
      line-height: 0;
      cursor: pointer;
      border: 1px solid #d7dce0;
      box-sizing: border-box;
      border-radius: 4px;
      padding: 0.625rem;
    }
  }

  &__thead {
    background: #f7f9fb;
  }

  &__empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 92px;

    &--text {
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #0b2253;
      margin-top: 0.5rem;
    }
  }

  &--loading {
    table {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        content: '';
        height: 3px;
        background-color: #1d4ed8;
        width: 100%;
        animation: slide 3s infinite linear;
      }
    }
  }

  &__table-container {
    width: 100%;
    overflow-y: auto;
  }

  table {
    border-collapse: collapse;
    min-width: 100%;
    margin-top: 10px;
  }

  th {
    font-weight: 600;
    font-size: 14px;
    line-height: 1rem;
    color: #6d7a98;

    text-align: left;
    padding: 17px;
    font-weight: 500;
  }

  td {
    text-align: left;
    padding: 1.25rem;
    font-weight: normal;
    font-size: 14px;
    line-height: 1rem;
    color: #0b2253;
    white-space: nowrap;

    span.email {
      display: block;
      width: 188px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  tr {
    border-bottom: 1px solid #f7f9fb;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 0.5rem;

    @media screen and(min-width: 600px) {
      justify-content: space-between;
    }

    &--page-summary {
      display: none;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #0b2253;

      span {
        color: #6d7a98;
      }

      @media screen and(min-width: 600px) {
        display: block;
      }
    }

    &--btns {
      display: flex;
      grid-column-gap: 0.5rem;

      button {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5rem;
        letter-spacing: 0.4px;
        color: #6d7a98;
        background: unset;
        border: unset;
        border-radius: 2px;
        padding: 0 0.5rem;
        cursor: pointer;

        &:disabled {
          color: #1d4ed8;
          background: #edf1fd;
          cursor: auto;
        }

        &.prev,
        &.next {
          color: #6d7a98;
          background: unset;

          &:disabled {
            opacity: 0.5;
          }
        }
      }
    }

    &--per-page {
      display: none;
      justify-content: flex-start;

      @media screen and(min-width: 600px) {
        display: flex;
      }

      > span {
        display: block;
        margin-right: 10px;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #0b2253;
      }

      .select-input {
        width: 5rem;

        &__selector {
          padding: 4px 8px;
        }

        &__option {
          padding: 4px 8px;
        }
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}

.organization-table {
  padding-top: 1.95rem;

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    img {
      max-height: 30px;
    }

    .identity {
      &__initial {
        width: 32px;
        height: 32px;
      }

      &__image {
        max-height: 32px;
        height: unset;
        width: unset;
        border-radius: unset;
      }
    }

    &__date-column {
      &__date {
        margin-right: 11px;
      }
      &__menu {
        margin-left: auto;
      }
    }
  }

  &__delete {
    border: 1px solid #ca1b1b;
    padding: 0.5rem 2rem;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ca1b1b;
    display: flex;
    gap: 0.5rem;
    transition: 0.2s ease-in-out;
    background: transparent;

    &:hover {
      background: #ca1b1b;
      color: #ffffff;
    }
  }
}

.audittrail {
  &__emp-img {
    margin-top: -0.5rem;
  }
}

.default-description-popover {
  &__content {
    max-height: 200px;
    overflow-y: auto;

    @media screen and (min-width: 768px) {
      max-width: 300px;
    }
  }
}

.employee-update-description-popover {
  max-height: 200px;
  overflow-y: auto;

  @media screen and (min-width: 768px) {
    max-width: calc(100vw - 60vw);
  }

  table {
    width: 100%;

    td,
    th {
      padding: 0.5rem;
      white-space: nowrap;
      font-size: 14px;
      line-height: 1rem;
    }

    th {
      background: #f7f9fb;
      font-weight: 500;
    }
  }
}

.employee-table {
  margin-top: 1.5rem;
}

.table-layout {
  &__top-bar {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-bottom: 24px;
    flex-direction: column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }

    > p {
      flex-grow: 0.2;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: $font-family-Karla;
      font-style: normal;
      font-weight: 600;
      font-size: 1.125rem;
      line-height: 1.5rem;
      letter-spacing: 0.25px;
      color: #0d0f11;
    }

    &__actions {
      flex-grow: 0.75;
      max-width: 384px;
      display: flex;
      grid-column-gap: 1rem;
      flex-direction: column;
      @media screen and (min-width: 768px) {
        flex-direction: row;
        align-items: center;
      }

      &__search {
        width: 100%;
        @media screen and (min-width: 1024px) {
          width: 384px;
        }

        .search-component input {
          padding: 0.4375rem 1rem;
        }
      }

      &__options-button {
        display: inline-flex;
        padding: 0.75rem 1rem;
        border: 1px solid #d7dce0;
        border-radius: 4px;
        background: none;
        align-items: center;
        justify-content: flex-start;
        max-height: 40px;
        vertical-align: middle;
      }

      .button {
        padding: 0.5rem 1rem;
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
  }

  &__container {
    width: 100%;
    overflow-y: auto;
  }
}

.table {
  &--loading {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      right: auto;
      content: '';
      height: 3px;
      background-color: #1d4ed8;
      width: 100%;
      animation: slide 3s infinite linear;
    }
  }

  border-collapse: collapse;
  min-width: 100%;

  thead {
    background: #f7f9fb;
  }

  th {
    font-weight: 600;
    font-size: 14px;
    line-height: 1rem;
    color: #6d7a98;
    text-align: left;
    padding: 17px;
    font-weight: 500;
    white-space: nowrap;
  }

  td {
    text-align: left;
    padding: 1.25rem;
    font-weight: normal;
    font-size: 14px;
    line-height: 1rem;
    color: #0b2253;
    white-space: nowrap;
  }

  tr {
    border-bottom: 1px solid #f7f9fb;
  }
}

.checkbox-table-column {
  white-space: nowrap;
  display: flex;
  align-items: center;

  &__checkbox {
    margin-right: 0.875rem;
    height: 16px;
  }
}

.pagination {
  padding: 0.5rem 0;
  display: flex;
  justify-content: flex-end;

  &__summary,
  &__per-page {
    display: none;
  }

  @media screen and (min-width: 768px) {
    justify-content: space-between;
    align-items: center;

    &__summary {
      display: initial;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #0b2253;

      span {
        color: #6d7a98;
      }
    }
  }

  @media screen and (min-width: 1024px) {
    &__per-page {
      display: flex;
      justify-content: flex-start;

      > span {
        display: block;
        margin-right: 10px;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #0b2253;
      }

      .select-input {
        width: 5rem;

        &__selector {
          padding: 4px 8px;
        }

        &__option {
          padding: 4px 8px;
        }
      }
    }
  }

  &__buttons {
    display: flex;

    @media screen and (min-width: 768px) {
      grid-column-gap: 0.2rem;
    }

    button {
      font-weight: normal;
      font-size: 14px;
      line-height: 1.5rem;
      letter-spacing: 0.4px;
      color: #6d7a98;
      background: unset;
      border: unset;
      border-radius: 2px;
      padding: 0 0.5rem;
      cursor: pointer;

      &:disabled {
        color: #1d4ed8;
        background: #edf1fd;
        cursor: auto;
      }

      &.prev,
      &.next {
        color: #6d7a98;
        background: unset;

        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

.table-empty-state {
  display: flex;
  width: 100%;
  height: 57vh;
  max-height: 512px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #0b2253;
    margin-top: 0.5rem;
  }
}

.input-table-column {
  display: block;
  position: relative;
  min-width: 176px;

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.0625rem;
  }

  &__input {
    width: 100%;
    padding: 1.0625rem;
    padding-right: 1.9rem;
    border: 1px solid transparent;
    outline: none;
  }
}

.menu-table-column {
  display: flex;
  align-items: center;

  &__menu {
    display: block;
    margin-left: auto;
  }
}

.audit-table {
  &__table {
    td {
      vertical-align: middle;
    }
    &__description-col {
      white-space: normal !important;

      div {
        min-width: 150px;
      }
    }
  }
}

.search-component {
  background: #ffffff;
  width: 100%;
  position: relative;

  > *:nth-child(2) {
    position: absolute !important;
    top: 50%;
    right: 0.8125rem;
    transform: translateY(-50%);
  }

  input {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-right: 1.875rem;
    background: transparent;

    &:not(:focus) {
      border: 1px solid #d7dce0;
    }
  }
}

@keyframes slide {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0;
  }
}
