.table-component {
  padding-top: 24px;

  &__table-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 1.5rem;
    letter-spacing: 0.25px;
    color: #0d0f11;
  }

  &__search {
    display: flex;
    align-items: center;
    grid-column-gap: 4px;
    background: #ffffff;
    border: 1px solid #d7dce0;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 12px 1rem;
    width: 100%;

    &--input {
      font-size: 1rem;
      line-height: 1rem;
      letter-spacing: -0.05px;
      border: unset;
      width: 100%;

      &::placeholder {
        color: #677684;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  &__filter-btn,
  &__option-btn {
    background: #fff;
    border: 1px solid #d7dce0;
    box-sizing: border-box;
    border-radius: 4px;
    line-height: 0;
    cursor: pointer;
  }

  &__filter-btn {
    display: flex;
    align-items: center;
    grid-column-gap: 0.5rem;

    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    color: #3a434b;

    padding: 12px 1rem;
  }

  &__option-btn {
    padding: 10px;
  }

  &__thead {
    background: #f7f9fb;
  }

  &__empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 92px;

    &--text {
      font-weight: bold;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #0b2253;
      margin-top: 0.5rem;
    }
  }

  &--loading {
    table {
      position: relative;

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: auto;
        content: '';
        height: 3px;
        background-color: #1d4ed8;
        width: 100%;
        animation: slide 3s infinite linear;
      }
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }

  th {
    font-weight: 600;
    font-size: 14px;
    line-height: 1rem;
    color: #6d7a98;

    text-align: left;
    padding: 17px;
    font-weight: 500;
  }

  td {
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid #f7f9fb;
    font-weight: normal;
    font-size: 14px;
    line-height: 1rem;
    color: #0b2253;

    span.email {
      display: block;
      width: 188px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding-bottom: 0.5rem;

    &--page-summary {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.4px;
      color: #0b2253;

      span {
        color: #6d7a98;
      }
    }

    &--btns {
      display: flex;
      grid-column-gap: 0.5rem;

      button {
        font-weight: normal;
        font-size: 14px;
        line-height: 1.5rem;
        letter-spacing: 0.4px;
        color: #6d7a98;
        background: unset;
        border: unset;
        border-radius: 2px;
        padding: 0 0.5rem;
        cursor: pointer;

        &:disabled {
          color: #1d4ed8;
          background: #edf1fd;
          cursor: auto;
        }

        &.prev,
        &.next {
          color: #6d7a98;
          background: unset;

          &:disabled {
            opacity: 0.5;
          }
        }
      }
    }

    &--per-page {
      justify-content: flex-start;

      > span {
        display: block;
        margin-right: 10px;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #0b2253;
      }

      .select-input {
        width: 5rem;

        &__selector {
          padding: 4px 8px;
        }

        &__option {
          padding: 4px 8px;
        }
      }
    }
  }
}

.organization-table {
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__identity {
      &__initial,
      &__logo {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 12px;
      }

      &__initial {
        background: $blue-800;
        color: $white;
        text-transform: uppercase;
        font-family: $font-family-Karla;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &__logo {
        img {
          max-width: 100%;
        }
      }
    }

    &__date-column {
      &__date {
        margin-right: 11px;
      }
      &__menu {
        margin-left: auto;
      }
    }
  }
}

@keyframes slide {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
    left: auto;
    right: 0;
  }
}
