.tax-pane {
  height: calc(100vh - 146px);
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  @media screen and (min-width: 1024px) {
    height: calc(100vh - 170px);
  }

  &__settings {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-bottom: 3rem;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px 16px;
    }
  }

  &__employee-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-bottom: 3rem;

    table {
      tbody {
        tr {
          td {
            padding: 0;

            &:first-child,
            &:last-child {
              padding: 0 17px;
            }
          }
        }
      }
    }
  }

  &__table-container {
    max-height: calc(100vh - 390px);
    overflow-y: auto;

    @media screen and (min-width: 768px) {
      max-height: calc(100vh - 335px);
    }

    @media screen and (min-width: 1024px) {
      max-height: calc(100vh - 355px);
    }

    &__pagination {
      position: sticky;
      bottom: 0;
      background: #ffffff;
    }

    &__empty-state {
      max-height: 290px !important;
    }
  }

  @media screen and (min-width: 1440px) {
    display: grid;
    row-gap: unset;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;

    &__settings,
    &__employee-list {
      max-height: calc(100vh - 170px);
      height: fit-content;
      overflow-y: auto;
    }
  }
}

.tax-group {
  &__page-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #0d0f11;
    margin-bottom: 1rem;
  }
}

.employee-auto-complete-form {
  display: grid;
  row-gap: 0.5rem;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    row-gap: unset;
    column-gap: 1rem;

    align-items: flex-end;
    button {
      max-width: 100px;
      min-height: 54px;
    }
  }
}
