.total-payroll-chip {
  font-family: $font-family-Karla;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  text-align: right;
  letter-spacing: -0.01em;
  color: #6d7a98;

  display: inline-flex;
  align-items: center;
  grid-column-gap: 0.625rem;

  &__amount {
    color: $black;
  }
}
