.wallet-billing-page {
  margin: auto;
  padding-top: 3rem;

  &__wallet-header-title {
    font-family: Karla;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #0e347e;
  }

  &__wallet-amount-skeleton {
    --base-color: #d1cece !important;
    margin-top: 0.5rem;
  }

  &__wallet-amount-text {
    font-family: Karla;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    margin-top: 0.5rem;
  }

  &__wallet-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 42px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      column-gap: 2rem;
    }
  }

  &__wallet-amount {
    position: relative;
    padding: 32px 24px;
    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background: #130f26;
    border-radius: 8px;
    overflow: hidden;

    @media screen and (min-width: 1440px) {
      flex-direction: row;
      align-items: center;
      // column-gap: 1rem;
    }

    @media screen and (min-width: 768px) {
      max-width: calc(50% - 2rem);
    }
  }

  &__submit-btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  &__wallet-text {
    color: #d7dce0;
  }

  &__payroll-update-text {
    color: #d7dce0;
    width: 100%;
  }

  &__payroll-update {
    padding: 25px 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
    width: 100%;
    background: #f7f9fb;
    border-radius: 8px;

    @media screen and (min-width: 1440px) {
      flex-direction: row;
      column-gap: 1rem;
    }

    @media screen and (min-width: 768px) {
      max-width: calc(50% - 2rem);
    }
  }

  &__payroll-date-text {
    font-size: 1rem;
    line-height: 1.25rem;
    color: #0b2253;
    margin-top: 0.5rem;
    max-width: 100%;
  }

  &__wallet-purple-image {
    position: absolute;
    top: -3px;
    // left:10px;
  }

  &__wallet-yellow-image {
    position: absolute;
    bottom: -3px;
    left: 210px;
  }
  &__transaction-text {
    font-family: Karla;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0e347e;
    padding-top: 3rem;
  }

  &__status-text {
    color: #27be63 !important;
  }

  &__wallet-image {
    position: relative;
    right: 8px;
  }

  &__payroll-update-actions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 0.5rem;
  }
  &__payroll-update-action-button {
    padding: 0;
    font-size: 1rem;
    box-shadow: unset;
    color: #1d4ed8;

    &:hover {
      background: unset !important;
      color: #0e347e;
    }
  }
}
