$black: #0b2253 !default;
$white: #ffffff !default;

$gray: #6d7a98;
$gray-100: #eef0f3;
$gray-600: #525c74;

$red: #ca1b1b;
$red-100: #ffefef;
$red-600: #be2727;

$black-700: #3a434b;
$black-800: #0e347e;
$black-900: #0d0f11;

$blue: #1d4ed8;
$blue-100: #eff6ff;
$blue-200: #dbeafe;
$blue-300: #bfdbfe;
$blue-400: #93c5fd;
$blue-500: #60a5fa;
$blue-600: #3b82f6;
$blue-700: #2563eb;
$blue-800: #1d4ed8;
$blue-900: #1e40af;

$green: #1e944d;
$green-100: #eafbf1;
$green-600: #27be63;

$orange: #d66f0f;
$orange-100: #fbf3ea;
$orange-600: #be6d27;

$primary: $blue-800;
$primary-hover: $blue-900;
$secondary: $black;
$success: $green;
$info: $blue-700;
$warning: $orange;
$error: $red;
