$black: #0b2253 !default;
$white: #ffffff !default;

$gray: #6d7a98;
$red: #ca1b1b;

$blue-100: #eff6ff;
$blue-200: #dbeafe;
$blue-300: #bfdbfe;
$blue-400: #93c5fd;
$blue-500: #60a5fa;
$blue-600: #3b82f6;
$blue-700: #2563eb;
$blue-800: #1d4ed8;
$blue-900: #1e40af;

$primary: $blue-800;
$primary-hover: $blue-900;
$secondary: $black;
$success: #1e944d;
$info: #2f80ed;
$warning: #d66f0f;
$error: #ca1b1b;
