.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-items-flex-end {
  align-items: flex-end;
}
.padding-left-space-1 {
  padding-left: $space-1;
}
.padding-right-space-1 {
  padding-right: $space-1;
}
.gap {
  gap: var(--gap, 1rem);
}
.text-center {
  text-align: center;
}
.container {
  width: 100%;
  margin-inline: auto;

  @media screen and (min-width: 1200px) {
    width: 1140px !important;
    padding: unset !important;
  }
  @media screen and (min-width: 1400px) {
    width: 1320px !important;
    padding: unset !important;
  }
}
.sr-only {
  width: 0;
  height: 0;
  overflow: hidden;
  position: fixed;
  left: -100vw;
}

.white-space-nowrap {
  white-space: nowrap;
}

.grid {
  display: grid;
}
