.create-account {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0 0 4rem;

  &__title {
    font-weight: 600;
    font-size: 2rem;
    line-height: 2rem;
    color: #0b2253;
    margin: 0 0 0.5rem;
  }

  &__subtext {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #6d7a98;
    margin: 0 0 2rem;
  }

  &__form-input-area {
    display: flex;
    flex-direction: column;
    grid-row-gap: 1.5rem;
  }

  &__form-grid {
    display: flex;
    grid-column-gap: 1.25rem;
  }

  &__submit-btn {
    width: 100%;
    height: 3.5rem;
    margin-top: 32px;
  }
}
