.audit-trail {
  margin-right: 2rem;
  margin-left: 2rem;
  
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.25rem;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2rem;
    color: #0e347e;
    margin: 0;
  }
}
