.group-details {
  width: 100%;
  max-width: 1128px;
  margin: auto;

  &__group-detail-title-section {
    display: flex;
    align-items: center;
    grid-column-gap: 1.5rem;
  }

  &__prev-icon {
    cursor: pointer;
  }

  &__header-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0.7rem 0 0 0rem;
    padding: 0;
  }

  &__edit-details-btn {
    height: 40px;
    background: #edf1fd;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #1d4ed8;
    border: none;
    cursor: pointer;

    @media screen and (min-width: 768px) {
      max-width: 134px;
    }
  }

  &__edit-details-btn-link {
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    color: #1d4ed8;
    display: inline-block;
    padding: 12px;
    border: 1px solid #edf1fd;
  }

  &__group-detail-title {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.01em;
    color: #0e347e;
    margin: 0;
  }

  &__group-details-flex-body {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .full-width {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__group-details-flex-body-inherit {
    display: flex;
  }
  &__payroll-header {
    margin-left: 11.4rem;
  }
  &__group-details-property {
    padding-bottom: 1.25rem;
  }

  &__group-details-property-section {
    &:not(:first-child) {
      margin-top: 2rem;
    }

    padding: 1.5rem;
    background: #ffffff;
    border: 1px solid #eaedf4;
    border-radius: 8px;

    .employee-details__employee-details-text {
      padding-top: 0;
    }
  }

  &__group-titles {
    font-size: 14px;
    line-height: 16px;
    color: #9da9b3;
    margin-top: 1.2rem;
  }

  &__group-property-value {
    font-size: 16px;
    line-height: 16px;
    color: #0b2253;
    font-weight: 500;
  }

  hr {
    border: 1px solid #f4f5f6;
    margin-bottom: 1.5rem;
  }

  &__employee-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  &__employee-number {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #0e347e;
    padding: 0;
  }

  &__add-employee-container {
    background: #ffffff;
    border: 1px solid #eaedf4;
    box-sizing: border-box;
    border-radius: 8px;
    height: max-content;
    margin-top: 2.3rem;
    padding: 1.5rem;
  }

  &__image-container {
    background-color: #fff;
    border-radius: 50%;
    width: 8px;
    height: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__remove-icon {
    display: flex;
    justify-content: center;
  }

  &__user {
    width: 100%;
    max-width: max-content;
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
    background: #dde5ee;
    border-radius: 12px;
    padding: 0.125rem 0.5rem;
  }

  &__name {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.01em;
    color: #6d7a98;
    font-family: $font-family-Karla;
    font-style: normal;
    font-weight: normal;
    text-transform: capitalize;
  }
  &__parent-container {
    background: #f7f9fb;
    border-radius: 4px;

    .employee-auto-complete-form {
      display: block;
      width: 100%;
      label {
        display: none;
      }
      button {
        display: none;
      }

      .app-select .ant-select-selector,
      .app-autocomplete .ant-select-selector {
        border: 1px solid transparent !important;
        border-color: transparent !important;
      }
    }

    .items {
      padding: 0 1rem 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 0.625rem 0.5rem;
    }
  }
}

.addon {
  .table td:not(.white-space-nowrap) {
    white-space: normal;
  }

  &__description {
    min-width: 180px;
  }
  .table-layout {
    &__top-bar {
      justify-content: space-between;
      column-gap: 0.5rem;
      @media screen and (min: 768px) {
        align-items: center;
      }

      p {
        flex-grow: 0.2;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-family: karla, Helvetica Neue, Helvetica, Arial, system-ui,
          sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 1.5rem;
        letter-spacing: 0.25px;
        color: #0d0f11;
      }

      &__actions {
        flex-grow: 0.75;
        margin-left: unset;
        max-width: 384px;

        &__search {
          width: 100%;
        }
      }
    }
  }

  .pagination {
    padding-bottom: 3rem;
  }
}
