.organisation-details {
  margin-right: 2rem;
  margin-left: 2rem;

  hr {
    border: 1px solid #f4f5f6;
    width: calc(100% - 3rem);
  }
  &__back-icon {
    cursor: pointer;
    margin: 0;
  }
  &__single-details-container {
    background: #ffffff;
    border: 1px solid #eaedf4;
    box-sizing: border-box;
    border-radius: 8px;
    height: 480px;
    margin-bottom: 3rem;
  }
  &__organisation-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 1.25rem;
  }
  &__organisation-details-header {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;

    a {
      display: flex;
      align-items: center;
    }
  }

  &__organisation-header {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.01em;
    color: #0e347e;
    // margin-top: 0.6rem;
  }
  &__organisation-button {
    width: 204px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 8px;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.01em;
    background: #1d4ed8;
    border: none;
    cursor: pointer;
  }
  &__organisation-settings-flex {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 0.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
  }
}

.custom-field {
  border: 1px solid #dceaf8;
  border-top: none;
  margin: 32px 2px;
  padding: 8px;
}

.custom-field h1 {
  margin: -16px -8px 0;
  color: #0b2253;
  font-size: 15px;
}

.custom-field h1 span {
  float: left;
}

.custom-field h1:before {
  border-top: 1px solid #dceaf8;
  content: ' ';
  float: left;
  margin: 8px 2px 0 -1px;
  width: 12px;
}

.custom-field h1:after {
  border-top: 1px solid #dceaf8;
  content: ' ';
  display: block;
  height: 24px;
  left: 2px;
  margin: 0 1px 0 0;
  overflow: hidden;
  position: relative;
  top: 8px;
}

#shipping_name {
  padding-left: 10px;
  background: #ebf1f7;
  border-radius: 4px;
  border: none;
  height: 35px;
  outline: none;
  color: #6D7A98;
}

#percentage {
  width: 60px;
  margin-left: 20px;
  padding-left: 10px;
  background: #ebf1f7;
  border-radius: 4px;
  border: none;
  height: 35px;
  outline: none;
  color: #6D7A98;
}
.fas {
  color: #1d4ed8;
  margin-left: 20px;
  padding-top: 10px;
  cursor: pointer;
}
.salary-breakdown {
  margin-top: 4rem;
  padding-left: 1rem;
  font-size: 1.4rem;
}
