// .employee-section {
//
// }
.organisation {
  width: 97%;
  margin: auto;

  &__table-section {
      margin-top: -1.5rem;
  }
  &__org-logo {
      margin-top: -.5rem;
  }

  &__invitation-table{
    margin-top:1rem;
  }
}


