.payroll-details {
  margin: 3rem 2.3rem;
  display: flex;

  &__sidebar{
    width: 7rem;
    height: 140vh;
    background: #F8FAFC;
    // padding: 1.25rem 0 2rem;
    // transition: all 500ms;
  }

  &__title-container {
    display: flex;
    justify-content: space-between;
  }

  &__back-icon {
    cursor: pointer;
  }

  &__proceed-btn {
    // grid-column-gap: 0.5rem;
    // height: 44px;
    // font-size: 1rem;
    // padding: 0 1.25rem;
    // width: 140px;
    width: 111px;
    height: 44px;
  }
  &__details {
    width: 460px;
    height: 590.87px;
    border: 1px solid #eaedf4;
    box-sizing: border-box;
    border-radius: 8px;
    // padding: 2rem;
  }
  &__section {
    display: flex;
    margin-top: 0.8rem;
  }
  &__summary-header {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.01em;
    color: #0e347e;
    margin: 0;
    padding: 0.9rem 0rem;
  }
  &__payroll-summary {
    width: 92%;
    margin: auto;
  }
  &__payroll-span-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: #6d7a98;
  }
  &__employee_Input {
    cursor: pointer;
    margin-left: 16px;
    outline: none;
    font-size: 30px;
    border: 1px solid #ddd;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
  }

  .table-header {
    font-family: Karla;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #6D7A98;
  }

  th {
    text-align: left;
    padding: 17px;
    

  }

  hr {
    border: 0.0002rem solid #EAEDF4;

  }

  td {
    text-align: left;
    padding: 17px;
    border-bottom: 1px solid #f7f9fb;
    padding-top: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0b2253;
  }

  &__employeeTitle {
    background-color: #f7f9fb;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #6d7a98;
  }
  &__edit-icon {
    margin-left: 3rem;
    padding: 0;
  }
  &__edit-icon-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
  }
}
