.employee-section {
  &__details {
    width: 80%;
    margin: 0px auto;
  }
  &__table {
    display: flex;
  }

  &__submit-btn {
    width: 179px;
    height: 44px;
    border-radius: 8px;
  }

  &__employeeSearch {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  &__employeeHeader {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.25px;
    margin-top: -5px;
  }
  &__searchInput {
    display: flex;
    // flex-direction: row;
    grid-column-gap: 1.5rem;
  }

  &__search {
    outline: none;
    background: #ffffff;
    border: 1px solid #d7dce0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 384px;
    height: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-left: 16px;
  }

  &__searchImage {
    position: relative;
    right: 30px;
    top: 12px;
  }
  &__searchIcon {
    display: flex;
  }

  &__filter-image {
    position: relative;
    left: -400px;
  }

  &__filter {
    font-size: 14px;
    width: 91px;
    height: 40px;
    background: #ffffff;
    border: 1px solid #d7dce0;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 16px;
  }

  &__employeeInfo {
    background: #ffffff;
    border: 1px solid #d7dce0;
    box-sizing: border-box;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    padding: 10px 20px 10px 15px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    // border: 1px solid #dddddd;
    text-align: left;
    padding: 17px;
  }

  &__employeeTitle {
    background-color: #f7f9fb;
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #6d7a98;
  }

  &__employeeData {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #0b2253;
    margin-top: 60px;
  }

  &__employee_Input {
    cursor: pointer;
    margin-left: 16px;
    background-color: green;
    border: 1px solid #dde5ee;
  }

  td{
     border-bottom: 1px solid #000;
  }
  //   &__employeeName {
  //     display: flex;
  //     grid-column-gap: 0.5rem;
  //     padding-left:20px;

  //   }

  //   &__employeeList{
  //      display: flex;
  //       margin-top: 20px;
  //     font-style: normal;
  //     font-size: 14px;
  //     line-height: 16px;
  //     color: #6d7a98;
  //     display:flex;
  //     justify-content:space-between;
  //     // grid-column-gap: 3rem;
  //   }
  // &__hr{
  //   border: 1px solid #F7F9FB;
  // }
}
