.dashboard-table {
  width: 90%;
  margin: 10px;

  &__profile {
    display: flex;
    justify-content: flex-end;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #0e347e;
    margin-top: 30px;
  }
  &__button {
    display: flex;
    margin-top: 30px;
  }
  &__submit-btn {
    width: 221px;
    height: 44px;
  }

  &__cardFlex {
    display: flex;
    grid-column-gap: 0.47rem;;
    // justify-content: space-evenly;
    align-items: center;
    margin-top: 24px;
  }
  &__cardDetails {
    width: 264px;
    height: 96px;
    background: #f7f9fb;
    border-radius: 12px;
    padding-left: 20px;
  }

  &__number {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #0b2253;
  }

  &__text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #6d7a98;
  }
}
